@font-face {
  font-family: Montserrat;
  src: url("fonts/Montserrat.ttf");
}
@font-face {
  font-family: MontserratItalic;
  src: url("fonts/Montserrat-Italic.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

html,
body {
  background-color: #d3d0c9;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
  color: #015b7b;
}

section {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
}

#page {
  width: 100% !important;
  padding-left: 0rem;
  padding-right: 0rem;
}
#page #page-header {
  text-transform: capitalize;
  font-size: 55px;
  border-bottom: 4px #015b7b dashed;
}

.yellow {
  color: #eaac0b;
}

.blue {
  color: #015b7b;
}

.green {
  color: #129176;
}

.red {
  color: #da3131;
}

h2 {
  font-size: 36px;
}

.wrapper header {
  display: flex;
  flex-wrap: wrap;
}
.wrapper header div {
  padding: 1rem 2rem;
  border: 4px #015b7b solid;
  width: fit-content;
}
.wrapper header div h1 {
  font-weight: 300;
  font-size: 60px;
}
.wrapper header div h2 {
  font-family: MontserratItalic;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}
.wrapper header nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 2rem;
  min-width: 300px;
  width: 100%;
  max-width: 455px;
}
.wrapper header nav a {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  color: #015b7b;
  font-size: 24px;
  font-weight: 600;
  border: 3px rgba(0, 0, 0, 0) solid;
  padding: 0.65rem 1rem;
  width: 100%;
  background: linear-gradient(to right, #015b7b 50%, #d3d0c9 50%);
  border: 3px rgba(0, 0, 0, 0) solid;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.4s ease-out;
  border-right: none;
  border-left: none;
}
.wrapper header nav a:hover {
  border: 3px #015b7b solid;
}
.wrapper header nav .active-link {
  background-position: left bottom;
}

@media (max-width: 1019px) {
  nav {
    padding-left: 0rem !important;
  }
}
#contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact-content p {
  width: 100%;
  max-width: 600px;
  font-size: 26px;
}
#contact-content form {
  margin-top: 50px !important;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
}
#contact-content form label {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}
#contact-content form input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 26px;
  border-bottom: 4px solid #da3131;
  outline: none;
  margin-bottom: 30px;
}
#contact-content form textarea {
  padding: 0.25rem 0.5rem;
  font-size: 22px;
  border: 3px solid #da3131;
  outline: none;
  background-color: #d3d0c9;
}
#contact-content form button {
  margin-top: 30px;
  font-size: 26px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #d3d0c9;
  border: 3px solid #015b7b;
  font-weight: 600;
  background-color: #015b7b;
  border: 3px solid #015b7b;
  color: #d3d0c9;
}
#contact-content form button:active {
  color: #d3d0c9;
  background-color: #2192bb;
  border: 3px solid #2192bb;
}

#work-content {
  margin-top: 90px;
  margin-bottom: 90px;
  width: 100%;
  justify-content: center;
  display: grid;
  grid-gap: 70px;
  grid-template-columns: repeat(auto-fill, 550px);
  position: relative;
}
#work-content .work-item {
  position: relative;
  border: 5px solid #129176;
  max-width: 600px;
  min-width: 300px;
  min-height: 500px;
  max-height: fit-content;
  transition: 0.4s;
  bottom: 0px;
}
#work-content .work-item a {
  display: block;
  width: 100%;
  height: 300px;
  background-position: top;
  background-size: cover;
}
#work-content .work-item p {
  padding: 1rem;
}
#work-content .work-item p a {
  height: fit-content;
}
#work-content .work-item .work-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 10px;
}
#work-content .work-item .work-desc {
  font-size: 18px;
  margin-bottom: 0px;
  line-height: 1.5rem;
}
#work-content .work-item:hover {
  bottom: 30px;
}

@media (max-width: 620px) {
  #work-content {
    grid-template-columns: repeat(auto-fill, 100%);
  }
  #work-content .work-item {
    height: fit-content;
    max-height: fit-content;
  }
}
#about-content {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
}
#about-content .about-text {
  width: fit-content;
}
#about-content .about-text h2 {
  width: fit-content;
}
#about-content .about-text p {
  font-size: 24px;
  font-weight: 500;
  max-width: 1000px;
}
#about-content img {
  display: block;
  height: 475px;
  padding: 1rem 1rem;
  border: 1rem solid #015b7b;
  background-color: #eaac0b;
  margin-bottom: 50px;
}
#about-content .skills {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-size: 20px;
}
#about-content .skills ul {
  margin-right: 50px;
  margin-left: 15px;
  color: #015b7b;
}

@media (max-width: 430px) {
  #about-content img {
    height: 350px !important;
  }
}
