@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat.ttf");
}

@font-face {
    font-family: MontserratItalic;
    src: url("fonts/Montserrat-Italic.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
html,
body {
    background-color: $grey;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px;
    color: $blue;
}

section {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
}

#page {
    width: 100% !important;
    padding-left: 0rem;
    padding-right: 0rem;
    #page-header {
        text-transform: capitalize;
        font-size: 55px;
        border-bottom: 4px $blue dashed;
    }
}

.yellow {
    color: $yellow;
}

.blue {
    color: $blue;
}

.green {
    color: $green;
}

.red {
    color: $red;
}

h2 {
    font-size: 36px;
}
