@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat.ttf");
}

@font-face {
    font-family: MontserratItalic;
    src: url("fonts/Montserrat-Italic.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
html,
body {
    background-color: $grey;
    height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px;
    color: $blue;
}

section {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
}
